<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="css/style.css" rel="stylesheet" >
        <link rel="icon" href="/img/weather.png">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="img/profile.jpg" width="250">
        </div>
        {{>footer}}
    </body>
</html>